.main-body {
  width: 100%;
}

.main-body .container {
  width: 80%;
  margin: 0 auto;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.main-body .container h1,
.main-body .container h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  margin: 1.25rem 0 0;
}